@import url('./reset.css');

:root{
    --color-primary:rgba(14,14,14,1);
    --color-font: rgba(255,255,255,1);
    --color-border:  rgba(212,6,6,1);
}

body {
    background-color: var(--color-primary);
    color: var(--color-font);
    font-family: 'Jolly Lodger', Regular;
    border: 0.1rem solid var(--color-border);
}

section.top{
    display: block;
    background-color: var(--color-primary);
    border: 0.2rem solid var(--color-border);
    width: 100%;
}

section.top p{
    text-align: left;
    margin: 0.5rem;
    font-size: 3.5rem;
    color: var(--color-border);
}

nav {
    padding: 1rem;
    margin-left: 5rem;
}

nav ul li{
    display: inline-block;
    margin: 1rem;
}

nav ul li a{
    color: var(--color-font);
    font-size: 3rem;
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-border);
}

.logo {
    width: 10rem;
    height: auto;
}

.grimoire {
    width: 20rem;
    height: auto;
}
header {
    text-align: center;
    margin: 3rem;
    margin-bottom: 10rem;
}

header h1 {
    font-size: 7rem;
}

main {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    font-size: 4rem;
}

h3 {
    text-align: center;
    font-size: 10rem;
    padding-top: 5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--color-border);
}

h4 {
    text-align: left;
    font-size: 5rem;
    padding-top: 2rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--color-border);
}

.tv {
    width: 22rem;
    height: auto;
    border-radius: 10px;
    float: right;
    display: inline;
}

form{
    margin: 5rem 0;
    width: 100%;
}

form label{
    display: block;
    font-size: 2.6rem;
}

form input{
    background-color: rgba(0,0,0,0);
    border: 0.2rem solid var(--color-primary);
    font-family: 'Jolly Lodger', Regular;
    width: 100%;
    padding: 1rem;
    color: var(--color-border);
    font-size: 2.5rem;
}

form input.email {
    width: 75%;
    background-color: var(--color-font);
    border-radius: 10px;
    margin: 1.5rem;
    color: rgba(14,14,14,1);
}

form a.start {
    background-color: var(--color-border);
    border: 0.2rem solid;
    border-radius: 10px;
    font-size: 2.5rem;
    padding: 1rem;
    margin-bottom: 5rem;
    color: rgba(14,14,14,1);
}

form input.start_mid {
    background-color: var(--color-border);
    border: 0.2rem solid;
    border-radius: 10px;
    font-size: 2.5rem;
    width: 34%;
    margin-bottom: 5rem;
    color: rgba(14,14,14,1);
}

form select {
    background-color: rgba(0,0,0,0);
    border: 0.2rem solid var(--color-border);
    width: 100%;
    padding: 1rem;
    color: var(--color-border);
    font-size: 2.5rem;
}

form input.valider {
    background-color: var(--color-font);
    border: 0.2rem solid var(--color-font);
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 1rem;
    color: #fff;
}
section div p{
    text-align: left;
}
section.description{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: var(--color-border);
    border: 0.2rem solid var(--color-border);
    width: 100%;
}

section.galerie p{
    text-align: left;
    font-size: 5rem;
    padding-top: 15rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--color-border);
}

.grid { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    align-items:stretch;
    justify-items: center;
}

.grid img {
    max-width: 90%;
    max-height: 85%;
}

section img{
    width: 100%;
    height: auto;
}
section form{
    text-align: center;
}

section p{
    text-align: center;
    margin: 3rem 0;
    font-size: 3.5rem;
}

li{
    display: inline-block;
}

.blo2{
    margin-left: auto;
    display: block;
}

footer {
    text-align: center;
    padding: 5rem;
}

footer p {
    font-size: 2.8rem;
}

 body img.tache {
    transform: rotate(90deg);
}